<div class="container">
    <h1 class="mt-2">{{title}}</h1>
    <!-- <app-contador></app-contador> -->
    <!-- <app-root></app-root> -->
    <!-- <app-botones></app-botones> -->
    <!-- <app-formulario class="mt-4"></app-formulario> -->
    <!-- <app-bucles class="mt-4"></app-bucles> -->
    <!-- <app-swich class="mt-4"></app-swich> -->
    <!-- <app-formulario2 class="mt-4"></app-formulario2> -->

    <!-- <app-formulario-reactivo></app-formulario-reactivo> -->

    <h1>Servicios</h1>
    <app-add-messages></app-add-messages>
    <app-list-messages></app-list-messages>

</div>